<%- include('../partials/header') %>
<div class="container">
    <!--* SHOW POST FORM -->
    <div>
    <% if ( user ) { %>
        <h2>TESTING HOME PAGE</h2>
        <form action="/posts" method="POST">
            <textarea name="content" id="" cols="30" rows="10"></textarea><br>
            <button type="submit">SUBMIT ME</button>
        </form>
    <% } %>
    </div>
    <!--* SHOW ALL POSTS -->
    <div class="post">
    <% posts.forEach(function(post) { %>
        <div>POST:</div>
        <article class="test">
            <div><%= post.userName %></div>
            <div><%= post.content %></div>
            <div><%= post.createdAt.toLocaleDateString() %>
            <a href="/posts/<%= post._id %>">Click to View Post</a></div>
        </article>
    <% }) %>
    </div>
</div>

<%- include('../partials/footer') %>