<%- include('../partials/header') %>
<div class="container">
    <% if ( user ) { %>
        <h2>TESTING HOME PAGE</h2>
        <form action="/posts" method="POST">
            <textarea name="content" id="" cols="30" rows="10"></textarea><br>
            <button type="submit">SUBMIT ME</button>
        </form>
    <% } %>

    <% posts.forEach(function(post) { %>
        <div>POST:</div>
        <article>
            <div><%= post.userName %></div>
            <div><%= post.content %></div>
            <div><%= post.createdAt.toLocaleDateString() %></div>
        </article>
    <% }) %>
</div>

<%- include('../partials/footer') %>