<%- include('../partials/header') %>

<!-- <div class="grid-container"> -->
    <% if ( !user ) { %>
        <h2>Not Logged In index</h2>
    <% } %>
        <div class="main-content">
            <!--* SHOW POST FORM -->
            <div id="post-form">
            <% if ( user ) { %>
                <form action="/posts" method="POST">
                    <input type="text" class="post-form" name="content" placeholder="Chirp away"></input><br>
                    <button class="btn" type="submit">Post</button>
                </form>
            
            </div>
            <!--* SHOW ALL POSTS -->
            <% posts.forEach(function(post) { %>
            <div id="all-posts">
                <div>POST:</div>
                <article class="post-content">
                    <div>Author: <%= post.userName %></div>
                    <div id="text"><%= post.content %></div>
                    <div>Created At: <%= post.createdAt.toLocaleDateString() %>
                    <a href="/posts/<%= post._id %>">View Post</a>
                    </div>

                    <!--* POST: EDIT & DELETE BUTTON -->
                    <div class="action-controls">
                        <% if (user?._id.equals(post.author)) { %>
                            <a id="edit-link" href="/posts/<%= post._id %>/edit">Edit Post</a>
                            <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                                <button type="submit">X</button>
                            </form>
                            <% } %>
                        </div>
                </article>
            <% }) %>
            </div>
        </div>
    <% } %>
<!-- </div> -->

<%- include('../partials/footer') %>