<%- include('../partials/header') %>
<div class="container">
    <h2>SHOW EJS</h2>
    <div class="post-container">
        <div class="post-content">
        <div><%= post.content%></div>
        <section>Author: <%= post.userName %></section>
        <section>Created At: <%= post.createdAt.toLocaleDateString() %></section>
        
        <!--* POST: EDIT & DELETE BUTTON -->
        <div class="action-controls">
            <% if (user?._id.equals(post.author)) { %>
                <a id="edit-link" href="/posts/<%= post._id %>/edit">EDIT POST</a>
                <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                    <button type="submit">X</button>
                </form>
                <% } %>
            </div>
        </div>

        <!--* COMMENT INPUT & DISPLAY -->
        <div class="comments-container">
            <div class="comment-text">
                <form action="/posts/<%= post._id %>/comments" method="POST">
                    <textarea name="content" id="comment" cols="30" rows="10" placeholder="Comment Here"></textarea>
                    <button type="submit">Comment</button>
                </form>
                <div class="comment-display">
                    <% post.comments.forEach(function(c) { %>
                        <div><%= c.userName %></div>
                        <div><%= c.content %></div>
                        <div><%= c.createdAt.toLocaleDateString() %></div>
                        
                        <!--* COMMENT: EDIT & DELETE BUTTON -->
                        <% if (user?._id.equals(c.author)) { %>
                            <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                                <button type="submit">X</button>
                            </form>
                        <% } %>
                   <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>