<%- include('../partials/header') %>
<!-- <div class="grid-container"> -->
<div class="show-container">
    <div id="single-post">
        <div >
            <div id="text"><%= post.content%></div>
            <section>Author: <%= post.userName %></section>
            <section>Created At: <%= post.createdAt.toLocaleDateString() %></section>
            
            <!--* POST: EDIT & DELETE BUTTON -->
            <div class="action-controls">
                <% if (user?._id.equals(post.author)) { %>
                    <a id="edit-link" href="/posts/<%= post._id %>/edit">EDIT POST</a>
                    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                        <button type="submit">X</button>
                    </form>
                <% } %>
            </div>
        </div>
    </div>

    <!--* COMMENT FORM --->
    <div id="post-form">
        <form class="comment-form" action="/posts/<%= post._id %>/comments" method="POST">
            <input type="text" class="post-form" name="content" placeholder="Chirp away"></input>
            <button id="comment-btn" class="btn" type="submit">Chirp back</button>
        </form>
    </div>
            <!--* COMMENT DISPLAY ---->
    
    <div class="comment-container">
        <% post.comments.forEach(function(c) { %>
            <div class="comment-content">
                <div id="username"><%= c.userName %></div>
                <div id="text"><%= c.content %></div>
                <div><%= c.createdAt.toLocaleDateString() %></div>
                
                <!--* COMMENT: EDIT & DELETE BUTTON -->
                <div class="action-controls">
                    <% if (user?._id.equals(c.author)) { %>
                        <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                    <% } %>
                </div>
            </div>
        <% }) %>
    </div>
</div>
<!-- </div> -->

<%- include('../partials/footer') %>